/* start custom scss snippet */
div.article__content h2 {
    font-weight: normal;
}
div.article__content h4 {
    font-weight: normal;
}
div.article__content ul li a.paper-download {
    color:#00ace6;
    font-weight: normal;
}

div.article__header header h1 {
    font-weight: normal;
}
/* end custom scss snippet */
