---
layout: page
titles:
  # @start locale config
  en      : &EN       Call For Papers
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  # @end locale config
---

<div class="article__content" itemprop="articleBody">
  <h2 id="workshop-scope">Topics of Interest<a class="anchor d-print-none" aria-hidden="true"><i class="fas fa-anchor"></i></a></h2>
  <!-- <p>Topics of the workshop include the following, but are not limited to:</p> -->
  <p>Authors are invited to submit papers describing original and
    unpublished work somehow related to formal analysis and verification
    of post-quantum cryptographic protocols. Topics of interest include,
    but are not limited to:</p>
  <ul>
    <li>Post-quantum cryptosystems
    <li>Post-quantum cryptographic protocols</li>
    <li>Logics of quantum computing/algorithms/programs</li>
    <li>Formal analysis/verification of those related to the above-mentioned</li>
  </ul>

  <h2 id="publication">Publication<a class="anchor d-print-none" aria-hidden="true"><i class="fas fa-anchor"></i></a></h2>
  <!-- <p>Topics of the workshop include the following, but are not limited to:</p> -->
  <p>Proceedings shall be submitted to <a href="http://ceur-ws.org/" target="_blank" >CEUR-WS.org</a> for online publication.
    Therefore, authors are supposed to use the CEUR-ART template style for preparing papers. 
    From the <a href="http://ceur-ws.org/HOWTOSUBMIT.html#PREPARE" target="_blank">CEUR preparation guide</a>, authors can find and download the
    <a href="http://ceur-ws.org/Vol-XXX/CEURART.zip" target="_blank">CEUR-ART template style</a> (also available on <a href="https://www.overleaf.com/latex/templates/template-for-submissions-to-ceur-workshop-proceedings-ceur-ws-dot-org/wqyfdgftmcfw" target="_blank">Overleaf</a>).
    Authors need to use the Latex 1-column style.
    
    In addition to regular papers (12 - 16 pages), authors are also recommended to
    submit short papers (6 - 8 pages), such as work-in-progress ones and
    tool demonstration ones. Papers submitted as regular papers may be
    accepted as short papers. 
    <!-- We plan a joint special issue of a reputable
    journal together with 
    <a href="https://cs.omu.edu.tr/blacksea2022/" target="_blank" >
      International Conference on Practical and Theoretical Aspects of Logic, Cyber Security and Cryptography 2022</a>.
    The authors of a selected
    subset of accepted papers will be invited to submit extended versions
    of their papers to the special issue. -->
  </p>
    
  <h2 id="journal-invitation">Special issue submission invitation<a class="anchor d-print-none" aria-hidden="true"><i class="fas fa-anchor"></i></a></h2>
    <p>
    We plan a special issue of FAVPQC at PeerJ Computer Science (Q1 for
2017-2019, Q2 for 2020).

On behalf of the Organising Committee, we are pleased to offer you the
opportunity to submit your full research papers to the collection
"Practical and Theoretical Aspects of Logic, Cyber Security and
Cryptography", which will be published in the journal PeerJ Computer
Science. See the homepage here: <a href="https://peerj.com/special-issues/117-logic-cs-crypt" target="_blank">
https://peerj.com/special-issues/117-logic-cs-crypt</a>.
</p>
<p>
Once published, this collection will become a highly-visible showcase
of the most recent research focused on Logic, Cyber Security and
Cryptography.
</p>
<p>
Authors wishing to be included should read the PeerJ Computer Science
author instructions and then submit via <a href="https://peerj.com/new/" target="_blank">https://peerj.com/new/</a>. 
Please include "Submitted to the Logic, Cyber Security and Cryptography
Collection - PJCS-COLL-LCSC"  in the Confidential Note to Staff field
of the submission form.
</p>
<p>
The deadline for submissions is <u>January 20, 2023</u>.
</p>
<p>
If accepted for publication, authors will be required to pay either an
Article Processing Charge or a PeerJ Lifetime Membership, please
see <a href="https://peerj.com/pricing/" target="_blank">https://peerj.com/pricing/</a> for details.
</p>
  
  <h2 id="paper-submission">Paper submissions<a class="anchor d-print-none" aria-hidden="true"><i class="fas fa-anchor"></i></a></h2>
  <div>Submissions must be uploaded to the following EasyChair website:</div>
  <div><a href="https://easychair.org/conferences/?conf=favpqc2022" target="_blank">https://easychair.org/conferences/?conf=favpqc2022</a></div>
  <ul>
    <li>Paper submission due: <del>September 15,</del> September 22, 2022 (AoE)</li>
    <li>Notification: <del>September 30,</del> October 13, 2022</li>
    <li>Camera-ready: <del>October 14,</del> October 18, 2022</li>
  </ul>
  
  </div>

<script>
  {%- include scripts/archieve.js -%}
</script>

{{ content }}
