---
layout: page
titles:
  # @start locale config
  en      : &EN       Committee
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  # @end locale config
---

<div class="article__content" itemprop="articleBody">
  <h2 id="program-committee">Program Committee<a class="anchor d-print-none" aria-hidden="true"><i class="fas fa-anchor"></i></a></h2>

  <ul>
    <li>Sedat Akleylek, Ondokuz Mayis University, Turkey (co-chair)</li>
    <li>Christophe Chareton, LORIA-CELLO, France</li>
    <li>Santiago Escobar, Universitat Politecnica de Valencia, Spain (co-chair)</li>
    <li>Daniel Gaina, Kyushu University, Japan</li>
    <li>Cetin Kaya Koc, University of California Santa Barbara, USA</li>
    <li>Benjamin Lipp, Max Planck Institute for Security and Privacy (MPI-SP), Germany</li>
    <li>Catherine Meadows, Naval Research Laboratory, USA</li>
    <li>Paolo Modesti, Teesside University, UK</li>
    <li>Masaki Nakamura, Toyama Prefectural University, Japan</li>
    <li>Kazuhiro Ogata, Japan Advanced Institute of Science and Technology, Japan (co-chair)</li>
    <li>Ayoub Otmani, University of Rouen Normandie, France (co-chair)</li>
    <li>Adrian Riesco, Universidad Complutense de Madrid, Spain</li>
    <li>Min Zhang, East China Normal University, China</li>
  </ul>
  
  <h2 id="organization-committee">Organization Committee<a class="anchor d-print-none" aria-hidden="true"><i class="fas fa-anchor"></i></a></h2>
  
  <ul>
    <li>Sedat Akleylek, Ondokuz Mayis University, Turkey</li>
    <li>Santiago Escobar, Polytechnic University of Valencia, Spain</li>
    <li>Kazuhiro Ogata, Japan Advanced Institute of Science and Technology, Japan</li>
    <li>Ayoub Otmani, University of Rouen Normandie, France</li>
  </ul>

  

  <h2 id="publicity-chair">Publicity chair<a class="anchor d-print-none" aria-hidden="true"><i class="fas fa-anchor"></i></a></h2>
  
  <ul>
    <li>Duong Dinh Tran, Japan Advanced Institute of Science and Technology, Japan</li>
  </ul>

  </div>

<script>
  {%- include scripts/archieve.js -%}
</script>

{{ content }}
