---
layout: articles
titles:
  # @start locale config
  en      : &EN      Home
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
show_title : false
  # @end locale config
---
<div class="layout--home">
  {%- include paginator.html -%}
  <div style="margin-top: 1.5em;">
    <p style="font-size: 2em;">International Workshop on Formal Analysis and Verification of
      Post-Quantum Cryptographic Protocols 2022</p>
  </div>

  <div style="margin-top: 1.2em;">
    <p style="font-size: 1.2em;">
      An <a href="http://maude.ucm.es/ICFEM22/" target="_blank">ICFEM 2022</a>
      satellite workshop, Madrid, Spain, October 24, 2022</p>
  </div>

  <div style="margin-top: 1em;">
    <p>It is known that the most popular public-key cryptosystems used today will become
       insecure once sufficient strong quantum computers become available. 
       To prepare for information security in the quantum computing era, 
       post-quantum cryptosystems that are resistant to attacks from quantum computers 
       have been built as replacements for the classical ones. 
       Security verification of those post-quantum cryptographic protocols has got extensive attention 
       from cryptography and security research groups in recent years.
    </p>

    <p>
      <!-- Due to Covid-19, the workshop may be held in a hybrid style or completely virtual. -->
      We plan a special issue of FAVPQC at PeerJ Computer Science, please see <a href="/call-for-papers.html">Call For Papers</a> for more details.
    </p>
  </div>


  <!-- <div style="margin-top: 1.5em;"> -->
    <!-- <p style="font-size: 1.5em;">Important dates</p>
  </div> -->

  <div class="article__content" itemprop="articleBody">
    <h2 id="paper-submission">Important dates<a class="anchor d-print-none" aria-hidden="true"><i class="fas fa-anchor"></i></a></h2>
    
    <ul>
      <li>Paper submission due: <del>September 15,</del> September 22, 2022 (AoE)</li>
      <li>Notification: <del>September 30,</del> October 13, 2022</li>
      <li>Camera-ready: <del>October 14,</del> October 18, 2022</li>
    </ul>

    <h2 id="news">News<a class="anchor d-print-none" aria-hidden="true"><i class="fas fa-anchor"></i></a></h2>
    
    <ul>
      <li>2022/11/21: <a href="https://ceur-ws.org/Vol-3280/" target="_blank">Proceedings</a> are now available.</li>
      <li>2022/10/17: <a href="/program.html">Program</a> is now available.</li>
      <li>2022/10/13: Accepted papers announced.</li>
      <li>2022/09/14: Deadline is extended to September 22.</li>
      <li>2022/07/14: Keynote speakers are updated.</li>
      <li>2022/05/24: PC members are updated.</li>
      <li>2022/04/21: Website is created.</li>
    </ul>
    
  </div>

</div>
<script>
  {%- include scripts/home.js -%}
</script>

{{ content }}
