---
layout: page
titles:
  # @start locale config
  en      : &EN       Program
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  # @end locale config
---

<div class="article__content" itemprop="articleBody">
  <h2 id="keynote">Keynote talks<a class="anchor d-print-none" aria-hidden="true"><i class="fas fa-anchor"></i></a></h2>


  <ul>
    <li><b>Speaker:</b> Yuxin Deng (ECNU)</li>
    <li><b>Title:</b> Formal Verification of Quantum Protocols</li>
    <li><b>Summary:</b> 
      We introduce two formal methods of verifying quantum communication protocols. 
      One is to take advantage of quantum process algebras and the other is to make use of theorem provers. 
      With a suitable notion of behavioural equivalence and a decision method, 
      we can determine if an implementation of a protocol is consistent with its specification. 
      Ground bisimulation is a convenient behavioural equivalence for quantum processes because of its associated coinduction proof technique.
      We exploit this technique to design and implement two on-the-fly algorithms for the strong and 
      weak versions of ground bisimulation to check if two given processes in quantum CCS are equivalent.
      We have developed a tool that can verify interesting quantum protocols such as the BB84 quantum key distribution scheme. 
      At a low level, quantum protocols can be implemented by quantum circuits. 
      We propose a symbolic approach to reasoning about the functional correctness of quantum circuits.
      It is based on a small set of laws involving some basic manipulations on vectors and matrices. 
      This symbolic reasoning scales well and is suited to be automated in Coq, as demonstrated with some typical examples. </li>
  </ul>
  
  <h2 id="workshop-program">Workshop Program<a class="anchor d-print-none" aria-hidden="true"><i class="fas fa-anchor"></i></a></h2>
    <h4> Opening (8:50-9:00) [<a class="paper-download" href="slides/opening.pdf" style="font-weight: normal;color:#00ace6;">slides</a>]</h4>
    
    <h4> Session 1 (9:00-10:30): Formal methods for quantum computing</h4>
    <ul>
      <li>9:00-10:00: Invited talk by Yuxin Deng (ECNU). Formal Verification of Quantum Protocols 
        [<a class="paper-download" href="slides/Yuxin.pdf">slide presentation</a>]
      </li><li>
        10:00-10:30: Tsubasa Takagi.
        <a class="paper-download" href="papers/Tsubasa.pdf">An Algebra of Quantum Programs with the Kleene Star Operator</a>
        [<a class="paper-download" href="slides/Tsubasa.pdf">slide presentation</a>]
      </li>
    </ul>
    <h4> Coffee break (10:30-11:00)</h4>
    <h4> Session 2 (11:00-13:00): Formal specification and verification of post-quantum
      cryptographic protocols</h4>
      <ul>
        <li>11:00-11:30: Katharina Kreuzer. 
          <a class="paper-download" href="papers/Katharina.pdf">Verification of the (1-δ)-Correctness Proof of CRYSTALS-KYBER with Number Theoretic Transform</a>
          [<a class="paper-download" href="slides/Katharina.pdf">slide presentation</a>]
        </li><li>
          11:30-12:00: Duong Dinh Tran, Kazuhiro Ogata, Santiago Escobar, Sedat Akleylek and Ayoub Otmani. 
          <a class="paper-download" href="papers/Duong1.pdf">Formal specification and model checking of lattice-based key encapsulation mechanisms in Maude</a>
          [<a class="paper-download" href="slides/Duong1.pdf">slide presentation</a>]
        </li><li>
          12:00-12:30: Víctor García and Santiago Escobar. 
          <a class="paper-download" href="papers/Victor.pdf">Modeling and verification of the post-quantum key encapsulation mechanism KYBER using Maude</a>
          [<a class="paper-download" href="slides/Victor.pdf">slide presentation</a>]
        </li><li>
          12:30-13:00: Duong Dinh Tran, Canh Minh Do, Santiago Escobar and Kazuhiro Ogata. 
          <a class="paper-download" href="papers/Duong2.pdf">Hybrid Post-Quantum TLS formal specification in Maude-NPA - toward its security analysis</a>
          [<a class="paper-download" href="slides/Duong2.pdf">slide presentation</a>]
          </li>
      </ul>
    <h4> Closing (13:00-13:10)</h4>
  </div>

<script>
  {%- include scripts/archieve.js -%}
</script>

{{ content }}
