---
layout: page
titles:
  # @start locale config
  en      : &EN       Sponsors
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  # @end locale config
---

<div class="article__content" itemprop="articleBody">
  <!-- <h2 id="sponsors">Sponsors<a class="anchor d-print-none" aria-hidden="true"><i class="fas fa-anchor"></i></a></h2> -->

  <ul>
    <li>France: National Centre for Scientific Research (CNRS)</li>
    <li>Japan: Japan Science and Technology Agency (JST)</li>
    <li>Spain: Agencia Estatal de Investigación (AEI) -  State Research Agency</li>
    <li>Turkey: The Scientific and Technological Research Council of Turkey (TUBITAK)</li>
    <li>CEUR Workshop Proceedings (CEUR-WS.org)</li>
  </ul>

</div>

<script>
  {%- include scripts/archieve.js -%}
</script>

{{ content }}
